{# templates/facturation/edit.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Modifier facturation{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Modifier la facturation</h1>

        {% include 'facturation/_form.html.twig' with {'form': form, 'button_label': 'Mettre à jour'} %}

        {{ include('facturation/_delete_form.html.twig') }}

        <a href="{{ path('app_facturation_index') }}" class="btn btn-secondary mt-3">Retour à la liste</a>
    </div>
{% endblock %}

