{# templates/facturation/new.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Nouvelle facturation{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Créer une nouvelle facturation</h1>

        {% include 'facturation/_form.html.twig' with {'form': form, 'button_label': 'Créer'} %}

        <a href="{{ path('app_facturation_index') }}" class="btn btn-secondary mt-3">Retour à la liste</a>
    </div>
{% endblock %}
