{% extends 'base_login.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block body %}


    <!--begin::Form-->
        <!--begin::Heading-->
        <div class="text-center mb-10">
            <!--begin::Title-->
            <h1 class="text-gray-900 mb-3">
                Email envoyé !
            </h1>
            <!--end::Title-->

            <!--begin::Link-->
            <div class="text-gray-500 fw-semibold fs-4">
                Si l'email précédemment renseigné correspond bien à un compte, alors vous receverer un email dans les minutes qui suivent contenant un lien pour réinitialiser votre mot de passe.
                <br>Ce lien explire au bout de {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
            </div>
            <div class="text-gray-500 fw-semibold fs-4">
                Si vous n'avez pas reçu de lien, regarder dans vos spams ou <a href="{{ path('app_forgot_password_request') }}">réessayer</a>.
            </div>
            <!--end::Link-->
        </div>
        <!--begin::Heading-->

    <!--end::Form-->

{% endblock %}
