<div class="p-0 m-0 w-100 bg-light">
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" class="mx-auto">
        <tbody>
        <tr>
            <td align="center" valign="center" class="text-center p-10">
                <img width="150" alt="Logo" class="rounded"
                     src="{{ absolute_url(asset('images/logo/logo.png')) }}" />
                {# logo email fonctionnel avec la variable "email.image" #}
            </td>
        </tr>
        <tr>
            <td align="left" valign="center">
                <div class="text-start m-5 p-10 bg-white rounded">
                    <!--begin:Email content-->
                    <div class="pb-8 fs-5">
                        <strong>Bonjour</strong>
                    </div>
                    <div class="pb-8">Vous avez reçu ce mail pour reinitialisation votre mot de passe. Pour procéder à la réinitialisation du mot de passe, cliquez sur le bouton ci-dessous:</div>
                    <div class="pb-10 text-center">
                        <a href="{{ url('app_reset_password', {token: resetToken.token}) }}" rel="noopener" class="btn btn-primary fw-bold" target="_blank">Reinitialiser le mot de passe</a>
                    </div>
                    <div class="pb-8">Ce lien de réinitialisation de mot de passe expirera dans 60 minutes. Si vous n'avez pas demandé de réinitialisation de mot de passe, aucune autre mesure n'est requise.</div>
                    <div class="border-bottom mb-5"></div>
                    <div class="pb-12">
                        <p class="mb-3">Le bouton ne fonctionne pas? essaye de copier/coller l'url dans ton naviguateur:</p>
                        <a href="{{ url('app_reset_password', {token: resetToken.token}) }}" rel="noopener" target="_blank" class="text-primary">{{ url('app_reset_password', {token: resetToken.token}) }}</a>
                    </div>
                    <!--end:Email content-->
                    <div class="pb-3">Cordialement,
                        <br>Follow Team.
                    </div>
                </td>
            </tr>
            <tr>
                <td align="center" valign="center" class="fs-7 text-center p-5 text-muted">
                    <p>Copyright ©
                    <a href="https://keenthemes.com" rel="noopener" target="_blank">Keenthemes</a>/Site réalisé par les alternants du
                        <a href="https://www.lyceerobertschuman.com" target="_blank">lycée Robert Schuman</a>.</p>
                </td>
            </tr>
        </tbody>
    </table>
</div>