<h1>Bien le bonjour bien le bonsoir.</h1>

<p>Vous avez demandé une modification de votre mot de passe. Si c'est vraiment ce que vous souhaitez, vueillez cliquer sur le lien si dessous :</p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<p>Ce lien va expirer dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>

<p>Cordialement.</p>

<p>La cantine des profs</p>
