{% extends 'base.html.twig' %}

{% block title %}Promo index{% endblock %}

{% block body %}
    <h1>Promo index</h1>
     <button>


        {% for promo in promos %}
                {{ promo.anneeDebut }}
                {{ promo.anneeFin }}
        {% endfor %}
        </button>
    <a href="{{ path('app_promo_new') }}">Create new</a>
{% endblock %}
