{% extends 'base.html.twig' %}

{% import "_macros/breadcumb.html.twig" as _breadcumb %}

{% block title %}Nouvelle Promotion{% endblock %}
{% block titre_page %}Nouvelle Promotion{% endblock %}
{% block action_page %}
{% endblock %}

{% block Breadcrumb %}
    {{ _breadcumb.etape("Promotion") }}
    {{ _breadcumb.etape("Nouvelle Promotion") }}

{% endblock %}
{% block body %}

    {{ include('promo/_form.html.twig') }}

    <a href="{{ path('app_promo_index') }}">Revenir à la liste des promotions</a>
{% endblock %}
