{% extends 'base.html.twig' %}

{% block title %}Nouvelle promotion{% endblock %}

{% block body %}
    <h1>Créer une nouvelle promotion</h1>

    {{ include('promo/_form.html.twig') }}

    <a href="{{ path('app_promo_index') }}">Revenir à la liste des promotions</a>
{% endblock %}
