{% extends 'base.html.twig' %}
{% import "_macros/breadcumb.html.twig" as _breadcumb %}

{% block title %}Nouveau professeur{% endblock %}
{% block titre_page %}Nouveau professeur{% endblock %}
{% block action_page %}
{% endblock %}

{% block Breadcrumb %}
    {{ _breadcumb.etape("Professeur") }}
    {{ _breadcumb.etape("Nouveau professeur") }}
{% endblock %}

{% block body %}
    {{ include('professeur/_form.html.twig') }}

    <a href="{{ path('app_professeur_index') }}">Revenir à la liste des professeurs</a>
{% endblock %}
