{% extends 'base.html.twig' %}

{% block title %}Nouveau professeur{% endblock %}

{% block body %}
    <h1>Création d'un professeur</h1>

    {{ include('professeur/_form.html.twig') }}

    <a href="{{ path('app_professeur_index') }}">Revenir à la liste des professeurs</a>
{% endblock %}
