{% extends 'base.html.twig' %}

{% block title %}Créer une description{% endblock %}

{% block body %}
    <h1>Créer une description</h1>

    {{ include('description/_form.html.twig') }}

    <a href="{{ path('app_description_index') }}">Revenir à la liste des descriptions</a>
{% endblock %}
