{% extends 'base.html.twig' %}
{% import "_macros/breadcumb.html.twig" as _breadcumb %}

{% block title %}Promotion{% endblock %}
{% block titre_page %}Creer une nouvelle description{% endblock %}

{% block Breadcrumb %}
    {{ _breadcumb.etape("Description") }}
    {{ _breadcumb.etape("Accueil") }}
{% endblock %}
{% block body %}
    <h1>Créer une description</h1>

    {{ include('description/_form.html.twig') }}

    <a href="{{ path('app_description_index') }}">Revenir à la liste des descriptions</a>
{% endblock %}
