{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<div class="mx-auto mw-800px w-95 fs-5">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code class="bg-light p-2">C:/wamp64/www/SYMFONY/gestion_cantine_prof_alternance/src/Controller/UserController.php</code></li>
        <li>Your template at <code class="bg-light p-2">C:/wamp64/www/SYMFONY/gestion_cantine_prof_alternance/templates/user/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
